<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comandos CLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>ionic start</h3>
  <p>Cria um projeto do zero</p>
  <h3>ionic serve</h3>
  <p>Roda o projeto</p>
  <h3>ionic generate</h3>
  <p>Serve para criar arquivos via comando em nosso projeto</p>
  <p>Paginas, Componentes, Serviços, Guard, Pipe, Directive, Enum, Interface</p>
</ion-content>